.taskread {
    height: 80%;
    width: 80%;
    border-radius: 10px;
    z-index: 1000;
}

.readheader {
    height: 8%;
    background-color: #5a647d;
    display: flex;
    align-items: center;
    justify-content: end;
}

.readclose {
    border: none;
    background-color: transparent;
    margin-right: 1%;
    color: white;
    font-size: 25pt;
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s linear;
}

.readclose:hover {
    color: #e1e1e6;
}

.readinfo {
    display: inline-block;
    height: 92%;
    width: 61%;
    background-color: white;
    padding: 2%;
}

.readactivity {
    display: inline-block;
    height: 92%;
    width: 31%;
    background-color: #f0f0f5;
    padding: 2%;
}

.infoheader {
    height: 10%;
    background-color: white;
}

.infobutton {
    height: 70%;
    width: 20%;
    border: 2px #e1e1e6 solid;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    transition: 0.2s linear;
}

.infobutton:hover {
    border-color: black;
}

.taskprops {
    padding: 2% 0;
}

.taskprop {
    padding: 1% 0;
}

.propname {
    color: #5a647d;
    font-size: 14pt;
    display: inline-block;
    width: 20%;
}

.infotext {
    height: 44%;
    padding-right: 2%;
    /* overflow-y: scroll; */
}

.infoactivity {
    height: 83%;
    padding-right: 5%;
    overflow-y: scroll;
}

.actinfo {
    display: inline-block;
    width: 80%;
}

.actdate {
    text-align: right;
    font-size: 10pt;
    display: inline-block;
}

.wrapper {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);

    z-index: 100;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}