/* .modal-window {
    display: block;
    position: relative;
    top: 0;
    left: 0;
} */

/* .wrapper {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
} */

/* .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
} */



/* ----------------------------- */



.historyWindow {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 30%;
    z-index: 1000;
    transition: margin-right 0.2s linear;
}

.historyHeader {
    height: 8%;
    background-color: #5a647d;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.historyTitle {
    color: white;
    margin-left: 5%;
    letter-spacing: 1pt;
}

.historyClose {
    border: none;
    background-color: transparent;
    margin-right: 1%;
    cursor: pointer;
    transition: 0.2s linear;
}

.historyLayout {
    display: inline-block;
    height: 100%;
    width: 100%;
    background-color: #f0f0f5;
    padding-top: 5%;
}

.historyDetails {
    height: 83%;
    padding: 5%;
    padding-top: 0;
    overflow-y: scroll;
}

.historyInfo {
    display: inline-block;
    width: 70%;
}

.historyDate {
    text-align: right;
    font-size: 10pt;
    display: inline-block;
}




