.header {
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px #e1e1e6 solid;
  }

.headerbtns {
    display: flex;
}

.btn {
    border: none;
    border-radius: 5px;
    padding: 12px 30px;
    cursor: pointer;
    transition: 0.2s linear;
}

.history_button {
    background-color: white;
    border: 2px #e1e1e6 solid;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.history_button:hover {
    border-color: black;
}

.create_button {
    color: white;
    background-color: #5a647d; /* // e1e1e6 // f0f0f5 // c8c8c8 */
    border: 2px #5a647d solid;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.create_button:hover {
    color:black;
    border-color: black;
    background-color: white;
    .iconplus {
        stroke: black;
    }
}

.title {
    font-size: 20pt;
}

.iconplus {
    stroke: white;
    font-size: 16pt;
    padding-left: 0;
    transition: 0.2s linear;
}

.iconre {
    font-size: 16pt;
}